h1 {
	font-size: 26px;
}

/* override */
th, td {
	padding: 0.6em;
}

.not-found {
	padding: 0 1em;
}

.navbar-brand {
	height: auto;
}

.navbar-subline {
	font-size: 14px;
	font-weight: 200;
}

.c-grubeWidget {
	border-top: darkgray 1pt solid;
	border-left: darkgray 12pt solid;
	border-bottom: darkgray 1pt solid;
	padding-bottom: 15pt;
	padding-left: 10pt;
}

a.anchor {
	position: relative;
	top: -80px;
}

.form-error-message {
	color: red;
}

.grube--right-centered {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: auto;
}


@media (max-width: 900px){
	/** changed */
	th, td {
		padding: 0.6em;
	}
}

@media (max-width: 767px) {

	/* changed responsive behaviour */
	.content-area {
		padding-left: 0;
		padding-right: 0;
	}
}

/**
 * Price calculator module.
 */

* + .c-priceCalc__label {
	margin-top: 20px;
}

.c-priceCalc__select {
	margin-top: 5px;
}

/**
 * Calendar module.
 */

.c-calendar:after {
	clear: both;
	content: "";
	display: block;
}

.c-calendar__month {
	border-bottom: darkgray 1pt dashed;
	float: left;
	padding: 8px 8px 10px 0;
	display: inline-block;
	width: 50%;
}

.c-calendar__monthHeader {
	position: relative;
}
.c-calendar__monthView {
	margin-top: 10px;
	font-size: 12px;
}

.c-calendar__monthView table {
	table-layout: fixed;
}

.c-calendar__monthView.visible {
	display: block;
}

.c-calendar__day {
	visibility: hidden;
}

.c-calendar__day.inMonth{
	font-weight: bold;
	visibility: visible;
}

.c-calendar__day.reserved{
	background-color: indianred;
	color: white;
}

.c-calendar__day.halfReserved{
	background-color: lightsalmon;
	color: white;
}

.c-calendar__monthReservation {
	display: none;
	position: absolute;
	right: 0;
}

.c-calendar__monthReservation::after {
	border-radius: 7px;
	content: " ";
	display: inline-block;
	height: 14px;
	margin-left: 6px;
	width: 28px;
}

.c-calendar__monthReservation.full::after {
	background-color: indianred;
}

.c-calendar__monthReservation.almostFull::after {
	background-color: lightsalmon;
}

.c-calendar__monthReservation.almostEmpty::after {
	background-color: yellowgreen;
}

.c-calendar__monthReservation.empty::after {
	background-color: forestgreen;
}

/* calendar one column layout */
@media (max-width: 650px) {

	.c-calendar__month {
		float: none;
		display: block;
		width: auto;
	}

	.c-calendar__month:last-child {
		border-bottom: none;
		padding: 8px 8px 0 0;
	}

	.c-calendar__monthHeader {
		cursor: pointer;
	}

	.c-calendar__monthReservation {
		display: inline;
	}

	.c-calendar__monthView {
		display: none;
		text-align: center;
	}

	.c-calendar__monthView .emptyWeek {
		display: none;
	}

	.c-calendar__monthTable {
		max-width: 380px;
		display: inline-block;
	}

	.c-calendar__day {
		visibility: visible;
		opacity: 0.5;
	}

	.c-calendar__day.inMonth{
		opacity: 1;
	}
}

/**
 * Gallery module.
 */

.c-gallery {
	margin-bottom: 1em;
}

.c-gallery__outer {
	position: relative;
	margin: 0 -4em;
	background-color: #eee;
}

@media (max-width: 900px) {
	.c-gallery__outer {
		margin: 0 -1.5em;
	}
}

.c-gallery__inner {
}

.c-gallery__item {
	position: relative;
	text-align: center;
}

.c-gallery__item > img {
	margin-bottom: 0;
}

.c-gallery__control {
	font-size: 1.8em;
	position: absolute;
}

@media (max-width: 767px) {
	.c-gallery__control {
		font-size: 1.4em;
	}
}

.c-gallery__control-arrow {
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	width: 2.25em;
	height: 2.25em;
	background-color: gray;
	transition: all 200ms ease-out;
	box-shadow: 1px 1px 8px gray;
}

.c-gallery__control-arrow:hover {
	width: 2.35em;
	height: 2.35em;
	background-color: white;
}

.c-gallery__control-arrow:focus {
	background-color: gray;
	outline: none;
}

.c-gallery__control-arrow.m-inactive {
	width: 25px;
	height: 25px;
	font-size: 0.5%;
}

.c-gallery__control-arrow > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.c-gallery__control-arrow:hover > * {
	color: gray;
}

.c-gallery__control-arrow:focus > * {
	color: white;
}

.c-gallery__control-arrow--prev {
	left: 3%;
	border-radius: 50%;
}

.c-gallery__control-arrow--prev > i {
	padding-right: 5px;
}

.c-gallery__control-arrow--prev.m-inactive {
	left: -30px;
}

.c-gallery__control-arrow--next {
	right: 3%;
	border-radius: 50%;
}

.c-gallery__control-arrow--next > i {
	  padding-left: 5px;
}

.c-gallery__control-arrow--next.m-inactive {
	right: -30px;
}

.c-gallery__control-boobles {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	padding: 3px 12px 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.c-gallery__control-booble {
	box-shadow: 1px 1px 8px gray;
	cursor: pointer;
	position: relative;
	display: inline-block;
	background-color: white;
	height: 0.8em;
	width: 0.8em;
	border-radius: 50%;
	margin: 0 5px;
}

.c-gallery__control-booble:after {
	position: absolute;
	content: "";
	background-color: gray;
	top: 50%;
	left: 50%;
	height: 0;
	width: 0;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: all 400ms ease;
}

.c-gallery__control-booble.m-active:after  {
	height: 0.6em;
	width: 0.6em;
}

.c-gallery__captions {
	margin-top: 5px;
	min-height: 3em;
}

.c-gallery__caption {
	display: none;
	font-style: italic;
	transition: all 100ms ease-in;
	padding: 0 1em;
}

.c-gallery__caption.-active {
	display: block;
}
